* {
  margin: 0;
  padding: 0;
}
a {
  color: black;
  background-color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#notification {
  position: relative;

  width: 300px;
  min-height: 56px;
}
#main {
  width: 236px;

  margin-left: 56px;
  padding: 4px;
}
#icon {
  position: absolute;

  width: 48px;
  height: 48px;

  left: 4px;
  top: 4px;

}
h1 {
  font-size: 14px;
  font-weight: bold;
}
p {
  font-size: 12px;
  font-weight: normal;
}
